.combine {
	margin-top: 175px;
	color: #ffffff;
	min-height: 85%;
	img {
		height: 250px;
	}
	.choose {
		margin: 15px auto;
		h1 {
			padding-bottom: 15px;
		}
	}
}

footer p {
	color: #c2c2c2;
}

.newResults {
	color: white;
}

.parent {
    position: relative;
}

.parent p {
    position: absolute;
    bottom: 0.5px;
    z-index: 1;
    padding: 10px 10px;
    font-family: 'Open Sans normal 300';
    text-align: left;
    font-size: 16px;
    background-color: rgba(black, 0.5);
}

.parent img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}   

@media screen and (min-width: 600px) {
    .combine {
        // max-width: 400px;
        margin-top: 20px;
        padding: 20px 100px 50px;
    }
}