.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newResults {
    display: grid;
    grid-auto-rows: 275px;
  }
    
  @media screen and (min-width: 600px) {
    .newResults {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .combine {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
  }

  @media screen and (min-width: 1240px) {
    .newResults {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }